jupyter
notebook
jupyter_contrib_nbextensions
pytorch_lightning
opencv-python
scipy
h5py
tqdm
timm
taichi==0.8.5
taichi-glsl
git+https://github.com/aliutkus/torchinterp1d@master#egg=torchinterp1d
git+https://github.com/xeTaiz/torchvtk@master#egg=torchvtk
git+https://github.com/LuDubies/Differender@generate_depth#egg=differender
